html {
    height: 100%;
    width: 100%;
    background-color: white;
  }
  
  button {
    border-radius: 50%;
    /* Make the buttons round */
    width: 50px;
    /* Adjust the width of the buttons */
    height: 50px;
    /* Adjust the height of the buttons */
    color: black;
    border-color: #CCCCCC;
  }
  
  #btn-red {
    background-color: red;
  }
  
  #btn-white {
    background-color: white;
  }
  
  #btn-blue {
    background-color: blue;
  }
  
  #btn-yellow {
    background-color: yellow;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: pink;
    padding: 10px;
    color: black;
    text-align: center;
}
